<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ClashApp" value="HD-Frontend"></add>
    <add key="ClashAppDir" value="C:\Program Files (x86)\BlueStacks\HD-StartLauncher.exe"></add>
    <add key="SikuliPath" value="c:/sikuli/"></add>
    <add key="ImageDir" value="C:/Users/Jason/Desktop/Images/"></add>
  </appSettings>
</configuration>